.github/**
.vscode/**
.vscode-test/**
.claude/**
.DS_Store
src/**
out/**
docs/**
scripts/**
examples/**
images/*.png
!images/logo.jpg
themes/uva.json
themes/*.mjs
node_modules/**
**/*.ts
**/*.map
**/*.mjs
tsconfig.json
esbuild.js
.eslintrc.cjs
.prettierrc
.prettierignore
.gitignore
vsc-extension-quickstart.md
vscodecustom.css
